include README.rst
include LICENSE
include CHANGES.rst
include .coveragerc
include AUTHORS
include INSTALL
include tox.ini
include *.txt

recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile
recursive-exclude doc changelog.rst
recursive-include src *.zcml
